<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{title}} !
    </h1>
</div>
<div style="margin: 0px auto; width: 400px">
    <div class="output">
        {{ output }}
    </div>
    <div> {{ formula }}</div>
    <div class="error"><small>{{ error }}</small></div>
    <div class="keyboard">
        <table width="100%">
            <tr>
                <td><button (click)="sin()">sin</button></td>
                <td><button (click)="clear()">CLR</button></td>
                <td><button (click)="addNumber(7)">7</button></td>
                <td><button (click)="addNumber(8)">8</button></td>
                <td><button (click)="addNumber(9)">9</button></td>
                <td><button (click)="addOperation('/','÷')">÷</button></td>
            </tr>
            <tr>
                <td><button (click)="cos()">cos</button></td>
                <td><button (click)="sqrt()">√</button></td>
                <td><button (click)="addNumber(4)">4</button></td>
                <td><button (click)="addNumber(5)">5</button></td>
                <td><button (click)="addNumber(6)">6</button></td>
                <td><button (click)="addOperation('*','×')">×</button></td>
            </tr>
            <tr>
                <td><button (click)="addPi()">π</button></td>
                <td><button (click)="log()">log</button></td>
                <td><button (click)="addNumber(1)">1</button></td>
                <td><button (click)="addNumber(2)">2</button></td>
                <td><button (click)="addNumber(3)">3</button></td>
                <td><button (click)="addOperation('-')">-</button></td>
            </tr>
            <tr>
                <td><button (click)="addOpenBracket()">(</button></td>
                <td><button (click)="addClosingBracket()">)</button></td>
                <td><button (click)="addNumber(0)">0</button></td>
                <td><button (click)="addDecimalMark()">.</button></td>
                <td><button (click)="calculateResult()">=</button></td>
                <td><button (click)="addOperation('+')">+</button></td>
            </tr>

        </table>
    </div>
</div>